<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  tools:node="merge">

  <application>

    <meta-data
      android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
      android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

  </application>

</manifest>