name: Continuous develop build
on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: |
        mkdir -p /home/runner/.android && touch /home/runner/.android/repositories.cfg
        echo y | sudo ${ANDROID_HOME}/tools/bin/sdkmanager ndk-bundle 'ndk;21.3.6528147'
        ./gradlew assembleDebug
    - name: Create release
      uses: eine/tip@gha-tip
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        cwd: ${{ github.workspace }}
        files: app/build/outputs/apk/debug/app-debug.apk
